@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary:#3b82fe;
  --secondary:#1e40af;
}

@font-face {
  font-family: "Poppins";
  src:url("/fonts/Poppins-Regular.ttf") format("truetype"),
  url("/fonts/Poppins-Italic.ttf") format("truetype"),
  url("/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
   
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:"Poppins", sans-serif;
}